@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.npm-logo{
    height:20px;
    width:60px;
    margin-left: 10px;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    flex-direction: row;
    padding: 8px 0px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: baseline;
}
.glass{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    width: 1000px;
    padding-left: 5px;
}
.glass img{
    height:20px;
    width:30px;
    margin-left: 10px;
    margin-top: 2px;
}

.search {
    background-color:rgba(0,0,0,.05);
    height: 35px;
    border: none;
    width: 90%;
}

.search-button{
    background-color: #FB3B49;
    color:white;
    height: 35px;
    width: 90px;  
}
.buttonHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 13%;
}

.joinButton, .logInButton {
    height:25px ;
    width:60px ;
    background-color: white;
}


.section1{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}
.section1 h1{
    text-align: center;
    font-size: 75px;
    margin-top: 15px;
    font-weight: bold;
}

.section1 p{
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
}
.redbutton{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    padding: 20px 70px;
    min-width: 250px;
    font-size: 1.25rem;
    font-weight: bold;
}
.whitebutton{
    background-color: #fff;
    color: #000;
    box-shadow: none;
    border: 1px solid rgba(138,138,138,.06);
    padding: 20px 70px;
    min-width: 250px;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: bold;
}

.section2{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    height: 600px;
    background-color: white;
    margin: 0 auto; 
}
.section2 img{
    width: 256px;
    display: block;
    margin: auto;
    margin-bottom: 3.5rem;
}
.section2 h2{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgba(255,204,53, .4);
}
.section2 p{
    text-align: center;
    font-size: 13px;
}

.section3 > div {
    display: flex;
    justify-content: space-evenly;
}
.section3 img{
    height: 2rem;
}

.section3 h3{
    color: #ED1C24;
    font-size: 12px;
}

.create{
    display: flex;
    justify-content: center;
    margin-bottom:0px;
    margin-top: 3rem;
    padding: 12px;
    width:30% ;
    background-color: black;
    color: white;    
    font-size: 14px;
    font-weight: bold;
}